# ANDROID FUNCTIONS
function print_screen() {
  if [ $# -eq 0 ]
  then
    name="screenshot.png"
  else
    name="$1.png"
  fi
  adb shell screencap -p /sdcard/$name
  adb pull /sdcard/$name
  adb shell rm /sdcard/$name
  curr_dir=pwd
  echo "save to `pwd`/$name"
}

function fdr () {
  adb reboot bootloader
  fastboot oem config carrier $1
  fastboot -w
  fastboot erase frp
  fastboot reboot
}

function get_device_info () {
  echo "============================== DEVICE RELEVANT INFO ==============================="
  echo FINGERPRINT:
  adb shell getprop ro.build.fingerprint
  echo "SIM INFO : $(adb shell getprop gsm.sim.operator.alpha) | $(adb shell getprop gsm.sim.operator.numeric)"
  echo "SIM FULL IMSI : $(adb shell service call iphonesubinfo 7 | awk -F "'" '{print $2}' | sed '1 d'| tr -d '\n' | tr -d '.' | tr -d ' ')"
  echo "ro.CARRIER : $(adb shell getprop ro.carrier)"
  echo "MODEL : $(adb shell getprop ro.product.model)"
  echo "IMEI : $(adb shell service call iphonesubinfo 1 | awk -F "'" '{print $2}' | sed '1 d'| tr -d '\n' | tr -d '.' | tr -d ' ')"
  echo "SERIAL : $(adb shell getprop ro.boot.serialno)"
  echo "SKU : $(adb shell getprop ro.boot.hardware.sku)"
  echo "HW : $(adb shell getprop ro.vendor.hw.revision)"
  echo "Radio : $(adb shell getprop ro.vendor.hw.radio)"
  echo "==================================================================================="
}

function record_screen(){
    adb shell screenrecord /sdcard/$1.mp4
    adb pull /sdcard/$1.mp4
    adb shell rm -f /sdcard/$1.mp4
}

function motrepo() {
  cd /Users/carlosrodrigo/Development/projects/motorola/Dev/gerrit
}
